<table cellspacing="0" id="result_list" >
  <thead>
  <tr>
  <% for attribute in attributes -%>
    <th class="action-checkbox-column" ><%%= sortable_link( "<%= attribute.name %>", "<%= attribute.human_name %>" ) %></th>
  <% end -%>
  </tr>
  </thead>

  <tbody>
  <%% @<%= plural_table_name %>.each_with_index do |<%= singular_table_name %>,i| %>
    <tr class='<%%= (i%2) == 1 ? 'row1': 'row2' %>' >
    <% for attribute in attributes -%>
      <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
    <% end -%>
    </tr>
  <%% end %>
  </tbody>
</table>

<p class="paginator" >
  <%%= will_paginate @<%= plural_table_name %> %>
</p>
