<h1>Listing <%= plural_table_name %></h1>
<div id="content-main" > 
  <ul class="object-tools" >
    <li> <%%= link_to 'Add <%= human_name %>', new_<%= singular_table_name %>_path, :class => 'addlink' %> </li>
  </ul>
  <div class="module" id="changelist">
    <div id="toolbar">
      <%%= form_tag <%= plural_table_name %>_path, :method => 'get', :id => 'changelist-search' do %>
        <div>
          <label for="searchbar" ><%%= image_tag( "admin/icon_searchbox.png" ) %></label>
          <%%= text_field_tag "q", params["q"], :size => 25 %>
          <%%= hidden_field_tag( "_sort", params["_sort"] ) if params["_sort"] -%>
          <%%= hidden_field_tag( "_direction", params["_direction"] ) if params["_sort"] -%>
          <%%= submit_tag "Search", :name => nil, :disable_with => "Searching.." %>
        </div>
      <%% end %>
    </div>

    <%%= form_tag <%= singular_table_name %>_path( :id => 0 )  do %>
      <div class="actions">
        <label>Action: <%%= submit_tag "delete", :name => "_method", :confirm => "Sure to delete?" %> </label>
      </div>
      <%%= render "page" %>
    <%% end %>

    <div class="clear" /> 
</div>
