<h1>Listing <%= plural_table_name %></h1>

<%%= form_tag <%= plural_table_name %>_path, :method => 'get', :id => "<%= plural_table_name %>_search" do %>
  <%%= text_field_tag "name", params[:name] %>
  <%%= submit_tag "Search", :name => nil %>
  <div id='spin-container' >
    <%%= render "page" %>
  <div>
<%% end %>

<br />

<%%= link_to 'New <%= human_name %>', new_<%= singular_table_name %>_path %>
