<!DOCTYPE html>
<html>
<head>
  <title>SPIN</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="main_container" >

    <div class="header" >
      <div class="logo" > <h1> SPIN </h1> </div>
      <div class="top_menu" > </div>
    </div>

    <div class="main_content" >
      <div class="menu" >
        <%= spin_menu %>
      </div> 
        <div id="content" >
          <%= yield %>
        </div>
      <div class="clear"></div>
    </div>

    <div class="footer" >
      <div class="footer_left" > Powered by Sidro </div>
      <div class="footer_right" >  </div>
    </div>

  </div>
</body>
</html>
